@import "tailwindcss";

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    @apply text-white text-justify;
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #666666, #003366, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-x 15s ease infinite;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
